<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.musicalstructureapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MusicalStructureApp">
        <activity
            android:name=".WestlifeActivity"
            android:label="@string/westlife">
        </activity>
        <activity
            android:name=".ManicStreetPreachersActivity"
            android:label="@string/manic_street_preachers">
        </activity>
        <activity android:name=".BritneyActivity"
            android:label="@string/britney">
        </activity>
        <activity
            android:name=".PlaySongActivity"
            android:label="Now Playing">
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>